<!DOCTYPE html>
<html lang="en" ng-app="sampleApp">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head
       content must come *after* these tags -->

  <title>asmithdigital</title>
  <!-- Bootstrap -->
  <!-- build:css styles/main.css -->
  <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="../bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <!--<link href="styles/bootstrap-social.css" rel="stylesheet">-->
  <!--<link href="styles/mystyles.css" rel="stylesheet">-->
  <!-- endbuild -->

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>


<div ng-controller="SampleCtrl">

  <!-- anything typed in here is magically saved to our Firebase database! -->
  <input type="text" ng-model="data.text"/>
  <!-- all changes from our Firebase database magically appear here! -->
  <ul>
    <li ng-repeat="message in messages">{{ message.text }}</li>
  </ul>

  <p>{{data}}</p>

  <ul>
    <li ng-repeat="message in messages">
      <!-- edit a message -->
      <input ng-model="message.text" ng-change="messages.$save(message)" />
      <!-- delete a message -->
      <button ng-click="messages.$remove(message)">Delete Message</button>
    </li>
  </ul>
  <!-- push a new message onto the array -->
  <form ng-submit="addMessage()">
    <input ng-model="newMessageText" />
    <button type="submit">Add Message</button>
  </form>

</div>


<div ui-view="header"></div>
<div ui-view="content"></div>
<div ui-view="footer"></div>


<!-- build:js scripts/main.js -->
<script src="../bower_components/angular/angular.min.js"></script>
<script src="../bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="../bower_components/angular-resource/angular-resource.min.js"></script>
<script src="scripts/app.js"></script>
<!--<script src="scripts/controllers.js"></script>-->
<!--<script src="scripts/services.js"></script>-->
<!-- endbuild -->

<!-- Firebase -->
<script src="https://www.gstatic.com/firebasejs/3.6.0/firebase.js"></script>

<!-- AngularFire -->
<script src="https://cdn.firebase.com/libs/angularfire/2.0.1/angularfire.min.js"></script>

<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyB09cIBjkTTj1eY-xBnS-nkKKjfMzNHPbs",
    authDomain: "asmithdigital-67949.firebaseapp.com",
    databaseURL: "https://asmithdigital-67949.firebaseio.com",
    storageBucket: "asmithdigital-67949.appspot.com",
    messagingSenderId: "641452325318"
  };
  firebase.initializeApp(config);
</script>

</body>

</html>


